.App {
  text-align: center;
}

.a1 {
  background-color: #0729e7;
}

.notapp {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 0.02;
  padding: 0.02;
}

h3 {
  align-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #0729e7;
}
