.App {
  text-align: center;
  color: #342ead;
}

h2 {
  color: #342ead;
}

.a1 {
  background-color: #342ead;
}

hr {
  background-color: #342ead;
}

.notapp {
  text-align: left;
  color: #342ead;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 0.02;
  padding: 0.02;
}

h3 {
  align-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #342ead;
}

/* .navbar {
  background-color: #659dbd;
} */

/* .navbar {
  background-color: #1f2833;
} */

.topnav-right {
  float: right;
}

.btn {
  background-color: #342ead;
  color: white;
}
